/*CDN-fonts: */
@import url("https://fonts.cdnfonts.com/css/montserrat-alternates");
/*
font-family: 'Montserrat Alternates', sans-serif;
*/
@import url("https://fonts.cdnfonts.com/css/metal-mania-2");
/*
font-family: 'Metal Mania', sans-serif;
*/

/*inställningar för body*/
body {
  margin: 0;
  padding: 0;
  outline: 0;
}

/*--------------------------Sidhuvud: -----------------------------*/

header {
  width: 100%;
  height: 5.8rem;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

/*-----------------------Vanlig meny-------------------*/

/*Logotyp: */
#logo {
  height: 5.5rem;
  margin-left: 4vmin;
}

/*Navigering: */
nav {
  font-family: "Montserrat Alternates", sans-serif;
}

/*Navigeringsmeny: */
.nav-menu {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 4vmin;
  font-weight: 300;
}

/*Navigerings-länkar:*/
.nav-menu li {
  position: relative;
  color: #f0f0f0;
}

.nav-menu a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.2rem;
  padding: 5px 0;
  display: inline-block;
  position: relative;
}

.nav-menu a:hover {
  color: #4a9dff;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #dbcb13;
  transition: width 0.3s ease-in-out;
}

.nav-menu a:hover::after {
  width: 100%;
}

/*----------------- Knappar: -------------*/

/*Knapparnas behållare: */
.buttons {
  height: 5.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8vmin;
  margin-right: 4vmin;
}

/*Menyknapp: */
.menu_btn {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  color: #136835;
  border: #44ff8c solid 2px;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.8s ease-in, background-color 0.4s ease-in, border 0.4s ease-in;
}

/*Knapp för att stänga menyn: */
.close_btn {
  background-color: rgba(0, 0, 0, 0);
  color: #fab1b1;
  border: #db6565 solid 2px;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.8s ease-in, background-color 0.4s ease-in, border 0.4s ease-in;
  margin-bottom: 2rem;
}

/*Knapp för att boka prov-träning: */
.trial_btn {
  background-color: rgba(0, 0, 0, 0);
  color: #ffcc4a;
  border: #ffcc4a solid 2px;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.8s ease-in, background-color 0.4s ease-in, border 0.4s ease-in;
}

.trial_btn:hover {
  background-color: #ffcc4a;
  border: solid rgb(0, 117, 113) 2px;
  color: black;
}

/*Knapp för att bli medlem: */
.member_btn {
  background-color: rgba(0, 0, 0, 0);
  color: #4a9dff;
  border: #4a9dff solid 2px;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.8s ease-in, background-color 0.4s ease-in, border 0.4s ease-in;
}

.member_btn:hover {
  background-color: #4a9dff;
  border: #ffcc4a solid 2px;
  color: black;
}

/*--------------------------Mobil-meny: ---------------*/

.mobile-nav-container {
  display: none;
  background-color: black;
  transform: translateY(-500%);
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.mobile-nav-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 6vmin;
  font-weight: 300;
}

.mobile-nav-menu li {
  position: relative;
  color: #f0f0f0;
}

.mobile-nav-menu a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 2.2rem;
  padding: 5px 0;
  display: inline-block;
  position: relative;
}

/*----------------Sid-banner med puffar: ----------------*/

.hero {
  width: 100%;
  height: 484.58px;
  background-image: url("../ASSETS/HERO.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: center;
}

.push {
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  margin-top: 5.5rem;
  margin-left: 8vmin;
}

.push-btn {
  width: 150px;
  height: 50px;
  background-color: #27378990;
  color: #ffffff;
  border: #ffffff solid 1px;
  padding-bottom: 0.5rem;
  cursor: pointer;
  font-family: "Metal Mania", sans-serif;
  font-size: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 8vmin;
  transition: color 0.4s ease-in, background-color 0.4s ease-in;
}

.push-btn:hover {
  background-color: #7d93ff53;
  color: rgb(0, 152, 10);
}

/*.........................Sidans huvudinnehåll: .................*/
main {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

section {
  width: 50%;
}
.about-text {
  margin-left: 8vmin;
}

#subheading {
  width: 420px;
  font-weight: 600;
}
.about-text p {
  width: 420px;
}

.about-text h1 {
  font-size: 28px;
  text-decoration: underline;
  font-weight: 400;
}
.about-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 8vmin;
}

.about-img img {
  width: 100%;
}

.news-article {
  margin-top: 10rem;
  height: 30rem;
  background-image: url("../ASSETS/news-bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  margin-bottom: 200px;
}

.news-article h1 {
  font-weight: 400;
  font-size: 3.5rem;
}

.news-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 8vmin;
  margin-top: 1.8rem;
}

.news {
  width: 250px;
  margin-bottom: 2rem;
}

.news a {
  color: rgb(200, 184, 135);
  transition: color 0.8s ease-in-out;
}

.news a:hover {
  color: #23c208;
  transition: color 0.2s ease-in-out;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*..................Media queries: .............*/

/*För små skärmar: */
@media only screen and (max-width: 640px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: fit-content;
  }

  .mobile-nav-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
  }

  .nav-menu {
    display: none;
    visibility: hidden;
  }

  .menu_btn {
    display: block;
  }

  .menu_btn,
  .member_btn,
  .trial_btn,
  .close_btn,
  .push-btn {
    width: 100px;
    height: 40px;
  }

  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    object-position: center;
    height: fit-content;
    width: 100%;
  }

  .push-container {
    font-size: 80%;
  }

  .push-btn {
    margin-bottom: 4vmin;
  }

  .about {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .about-text {
    margin-left: 0;
    width: 300px;
  }

  #subheading {
    width: 300px;
    font-weight: 600;
  }
  .about-text p {
    width: 300px;
  }

  .about-img {
    width: 20rem;
    height: 10rem;
  }

  .about-img img {
    width: 20rem;
    height: 10rem;
  }

  .news-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 8vmin;
    margin-top: 1.8rem;
  }

  .news-article {
    margin-top: 10rem;
    height: fit-content;
    background-color: rgba(21, 21, 51, 0.539);
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    margin-bottom: 200px;
    text-align: center;
  }

  .news a {
    color: rgb(0, 0, 0);
    transition: color 0.8s ease-in-out;
  }
}

/*För halv-små skärmar: */
@media only screen and (min-width: 641px) and (max-width: 840px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: fit-content;
  }

  .mobile-nav-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
  }

  .nav-menu {
    display: none;
    visibility: hidden;
  }

  .menu_btn {
    display: block;
  }

  .menu_btn,
  .member_btn,
  .trial_btn,
  .close_btn,
  .push-btn {
    width: 100px;
    height: 40px;
  }

  .hero {
    object-fit: contain;
    background-repeat: no-repeat;
    background: url("/ASSETS/Hero_small.png");
    background-position: center;
    background-size: cover;
    height: fit-content;
  }

  .push-container {
    font-size: 80%;
  }

  .push-btn {
    margin-bottom: 4vmin;
  }

  .about {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .about-text {
    margin-left: 0;
    width: 500px;
  }

  #subheading {
    width: 300px;
    font-weight: 600;
  }
  .about-text p {
    width: 500px;
  }

  .about-img {
    width: 25rem;
    height: 10rem;
  }

  .about-img img {
    width: 20rem;
    height: 10rem;
  }

  .news-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 8vmin;
    margin-top: 1.8rem;
  }

  .news-article {
    margin-top: 10rem;
    height: fit-content;
    background-color: rgba(21, 21, 51, 0.539);
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    margin-bottom: 200px;
    text-align: center;
  }

  .news a {
    color: rgb(0, 0, 0);
    transition: color 0.8s ease-in-out;
  }
}

@media only screen and (min-width: 840px) and (max-width: 1080px) {
  /*Navigeringsmeny: */
  .nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2vmin;
    font-weight: 300;
  }

  .nav-menu a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1rem;
    padding: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
  }

  #logo {
    width: 4rem;
    height: 2rem;
  }
}
